@charset "utf-8";
/* CSS Document */

.text-logo {
	color: #fff;
}
.intro-tile {
	color: red;
}
.obak {
  color: #2A2E39;
}
.md-overlay {
  background: none repeat scroll 0 0 rgba(85, 85, 85, 0.3);
}
.fa-social {
  background: none repeat scroll 0 0 #2A2E39;
}
.icon rect, .icon line {
  fill: #fff;
  stroke: #fff;
}
.title {
  color: #2A2E39;
}
.contact-title {
  color: #ffffff;
}
.service-top {
	color: #2A2E39;
}
.service-bottom {
	color: #2A2E39;
}
.fa-service {
	color: #2A2E39;
	border: 1px solid #2A2E39;
}
.contact {
  background-color: #2A2E39;
}
#footer {
  background-color: #2A2E39;
}
.btn-contact {
  background-color: transparent;
  border-color: transparent;
}


.fa-sliders {
  color: #2A2E39;
}
.color-option-title {
  color: #2A2E39;
}
.dark {
  background: #2A2E39;
}