@charset "utf-8";
/* CSS Document */

.text-logo {
	color: #0099ff;
}
.intro-tile {
	color: red;
}
.obak {
  color: #0099ff;
}
.md-overlay {
  background: none repeat scroll 0 0 rgba(0, 153, 255, 0.3);
}
.fa-social {
  background: none repeat scroll 0 0 #0099ff;
}
.icon rect, .icon line {
  fill: #0099ff;
  stroke: #0099ff;
}
.title {
  color: #0099ff;
}
.contact-title {
  color: #ffffff;
}
.service-top {
	color: #0099ff;
}
.service-bottom {
	color: #0099ff;
}
.fa-service {
	color: #0099ff;
	border: 1px solid #0099ff;
}
.contact {
  background-color: #0099ff;
}
#footer {
  background-color: #0099ff;
}
.btn-contact {
  background-color: transparent;
  border-color: transparent;
}


.fa-sliders {
  color: #0099ff;
}
.color-option-title {
  color: #0099ff;
}
.blue-2 {
  background: #0099ff;
}