@charset "utf-8";
/* CSS Document */

.text-logo {
	color: #34c5ba;
}
.intro-tile {
	color: red;
}
.obak {
  color: #34c5ba;
}
.md-overlay {
  background: none repeat scroll 0 0 rgba(52, 197, 186, 0.3);
}
.fa-social {
  background: none repeat scroll 0 0 #34c5ba;
}
.icon rect, .icon line {
  fill: #34c5ba;
  stroke: #34c5ba;
}
.title {
  color: #34c5ba;
}
.contact-title {
  color: #ffffff;
}
.service-top {
	color: #34c5ba;
}
.service-bottom {
	color: #34c5ba;
}
.fa-service {
	color: #34c5ba;
	border: 1px solid #34c5ba;
}
.contact {
  background-color: #34c5ba;
}
#footer {
  background-color: #34c5ba;
}
.btn-contact {
  background-color: transparent;
  border-color: transparent;
}


.fa-sliders {
  color: #34c5ba;
}
.color-option-title {
  color: #34c5ba;
}
.turquoise {
  background: #34c5ba;
}