@charset "utf-8";
/* CSS Document */

.text-logo {
	color: #2098f5;
}
.intro-tile {
	color: red;
}
.obak {
  color: #2098f5;
}
.fa-social {
  background: none repeat scroll 0 0 #2098f5;
}
.icon rect, .icon line {
  fill: #2098f5;
  stroke: #2098f5;
}
.title {
  color: #2098f5;
}
.contact-title {
  color: #ffffff;
}
.service-top {
	color: #2098f5;
}
.service-bottom {
	color: #2098f5;
}
.fa-service {
	color: #2098f5;
	border: 1px solid #2098f5;
}
.contact {
  background-color: #2098f5;
}
#footer {
  background-color: #2098f5;
}
.btn-contact {
  background-color: transparent;
  border-color: transparent;
}

.fa-sliders {
  color: #2098f5;
}
.color-option-title {
  color: #2098f5;
}
.default-color {
  background: #2098f5;
}