@charset "utf-8";
/* CSS Document */

.text-logo {
	color: #7369b9;
}
.intro-tile {
	color: red;
}
.obak {
  color: #7369b9;
}
.md-overlay {
  background: none repeat scroll 0 0 rgba(115, 105, 85, 0.3);
}
.fa-social {
  background: none repeat scroll 0 0 #7369b9;
}
.icon rect, .icon line {
  fill: #7369b9;
  stroke: #7369b9;
}
.title {
  color: #7369b9;
}
.contact-title {
  color: #ffffff;
}
.service-top {
	color: #7369b9;
}
.service-bottom {
	color: #7369b9;
}
.fa-service {
	color: #7369b9;
	border: 1px solid #7369b9;
}
.contact {
  background-color: #7369b9;
}
#footer {
  background-color: #7369b9;
}
.btn-contact {
  background-color: transparent;
  border-color: transparent;
}


.fa-sliders {
  color: #7369b9;
}
.color-option-title {
  color: #7369b9;
}
.violet {
  background: #7369b9;
}